APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:c+N/IcXbf3ESIdRctA8DiTyn6TP534NBkKZsfZW8iE8=
APP_DEBUG=false
APP_URL=https://smartpantry.up.railway.app/
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
DB_CONNECTION=pgsql
DB_HOST=containers-us-west-162.railway.app
DB_PORT=6438
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=ykE8Al3Ls6xo0hI89UPM
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
MEMCACHED_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=${APP_NAME}
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
MIX_PUSHER_APP_KEY=${PUSHER_APP_KEY}
MIX_PUSHER_APP_CLUSTER=${PUSHER_APP_CLUSTER}
GOOGLE_CLIENT_ID=616377829517-ggma5bi1e36jsdvaa7jcv4vf3ckkf456.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://smartpantry.up.railway.app/login/google/callback
GITHUB_CLIENT_ID=4cc83ec0127d8578056e
GITHUB_CLIENT_SECRET=4f8f33a6d6335119baa649195ffad1e8c8e95546
GITHUB_REDIRECT_URI=https://smartpantry.up.railway.app/login/github/callback