:root {
    --cor-principal: #0F4C81;
    --cor-complementar-1: #FAD961;
    --cor-complementar-2: #54A24B;
    --cor-neutra-1: #FFFFFF;
    --cor-neutra-2: #333333;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-neutra-1);
    color: var(--cor-neutra-2);
  }
  
  .header {
    background-color: var(--cor-principal);
    padding: 5vh;
    text-align: center;
  }
  
  .app-name {
    color: var(--cor-neutra-1);
    font-size: 24px;
    margin: 0;
  }
  
  .slogan {
    color: var(--cor-neutra-1);
    font-size: 14px;
    margin: 10px 0;
  }
  
  .main-content {
    background-image: linear-gradient(rgba(15, 76, 129, 0.8), rgba(15, 76, 129, 0.2)), url('../images/mercearia-compras.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  #center-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px;
  }
  
  .register-form input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    font-size: 14px;
  }
  
  .register-button {
    background-color: var(--cor-complementar-1);
    color: var(--cor-neutra-1);
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .footer {
    background-color: var(--cor-principal);
    padding: 2vh;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  