.header-content {
    background-image: linear-gradient(rgba(15, 76, 129, 0.3), rgba(15, 76, 129, 0.7)), url('../images/compras-de-mercearia-vetor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0F4C81;
    color: #FFFFFF;
  }	  
  
  #benefits img{
      width: 300px;		
  }
  
  #benefits{		
      background-color: #ffffff;		
  }
  
  section{
      height: 100vh;
      padding: 20px 0;
  }
  
  .card-header {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 10px;
  }

  .section {
    height: 100vh;
    padding: 20px 0;
  }

  .card-header {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 10px;
  }

  .card-body {
    text-align: center;
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .price-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }

  .price-value {
    font-size: 56px;
    font-weight: bold;
    text-align: right;
  }

  .price-currency{
    font-size: 16px;
    font-weight: bold;
  }
  
  .price-duration {
    font-size: 14px;
  }

  .price-currency,
  .price-duration {
    text-align: left;
  }

  .card-description {
    margin-bottom: 20px;
  }

  .benefits {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
  }

  .benefits li {
    margin-bottom: 5px;
  }

  .btn-block {
    width: 100%;
  }

  .custom-title {
    font-size: 36px; 
    font-weight: bold;
    color: #333;
    font-family: "Arial", sans-serif;
  }
  
  #downloads{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-us {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .download-link img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    width : 150px;	  
  }

  .text-center {
    text-align: center;
  }
  
  #partners img{
      width: 100px;
      padding: 0 10px;
  }
  
  .navbar-brand img{
      width: 120px;
      mix-blend-mode: multiply;
  }
  
  footer{
      height: 10vh;
      padding-top: 20px;
  }
  