body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .app-name {
    font-size: 24px;
    margin: 0;
  }
  
  .slogan {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    background-image: linear-gradient(rgba(15, 76, 129, 0.3), rgba(15, 76, 129, 0.7)), url('../images/clientes-fila-em-supermercado-vetor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #center-content{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255, 0.2);
      padding: 0 20px;
      border-radius: 20px;
      color: #fff;
  }

  #center-content a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-form input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #333333;
  }
  
  .login-button {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 153.20px;
  }
  
  .register-link {
    margin-top: 20px;
  }
  
  .footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  