body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .app-name {
    font-size: 24px;
    margin: 0;
  }
  
  .slogan {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    background-image: linear-gradient(rgba(137, 180, 218, 0.8), rgb(224, 233, 242)), url('../images/clientes-fila-em-supermercado-vetor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #center-content{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255, 0.2);
      padding: 0 20px;
      border-radius: 20px;
      color: #fff;
  }

  #center-content a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-form input {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #333333;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .register-link {
    margin-top: 20px;
  }
  
  .footer {
    background-color: #0F4C81;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  
.btn-google {
  background-color: #dd4b39;
  color: #ffffff;
  border-radius: 5px;
}

.btn-github {
  background-color: #24292e;
  color: #ffffff;
  border-radius: 5px;
}

.oauth-section p{
  text-align: center;

}

.oauth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.oauth-button {
  width: 200px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}

.oauth-button i {
  margin-right: 5px;
}
