body {
  background-color: #f7f7f7;
}

.sidebar {
  background-color: #21455a;
  color: #fff;
  height: 100vh;
  padding: 20px;
}

.sidebar img {
  width: 100px;
  margin-bottom: 20px;
}

.sidebar h4 {
  margin-bottom: 10px;
}

.link_envio {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.link_envio:hover {
  background-color: #273947;
}

.sidebar a i {
  margin-right: 5px;
}

.content {
  padding: 20px;
}

.sidebar img{
    width: 200px;
}

@media (max-width: 576px) {
  .sidebar {
    height: auto;
    padding-bottom: 20px;
  }

  .sidebar img {
    width: 80px;
  }
}